.footer-wrapper {
  position: relative;
  top: 13rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
  padding: 0 0 2rem 0;
  .footer-links {
    text-decoration: none;
    color: #8d8c8c;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-right: 2.375rem;
  }
}
