.subscribe-wrapper {
  position: relative;
  top: 5rem;
  display: flex;
  justify-content: center;
  //   margin: 2rem 0;
  input {
    outline: none;
    padding: 8px;
    width: 170px;
    height: 27px;
    border: 0;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    background: #fff;
    margin-right: 1rem;

    &::placeholder {
      color: #8d8c8c;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    &:focus {
      border: 0;
    }
  }
  button {
    width: 106px;
    height: 45px;
    flex-shrink: 0;
    border: 0;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    background: #2675eb;
  }
}
